<style>
    div{
        padding: 20px;
    }
</style>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

<div>
    <h1>
        Temperatūra šiose koordinatėse : {{ temperature }}


    </h1>

</div>
